body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  background-image: none;
  color: white;
  transition: color .3s;
  word-wrap: break-word;
  margin-bottom: 8px;
}
a:hover {
  color: #0460d9;
}
#logo {
  width: 600px;
  height: 300px;
  position: absolute;
}
@media screen and (min-width: 900px) {
  #logo {
    width: 800px;
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    width: 100vw;
    height: 50vw;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: calc(100% - (2 * var(--padding)));
    height: calc(100% - (2 * var(--padding)));
    padding: var(--padding);
  }
  #logo {
    width: 100vw;
    height: 50vw;
  }
}
@media screen and (max-height: 600px) {
  #logo {
    margin-top: 80px;
  }
}